<p class="text-center"><%= @article.title %></p>

<p class="text-justify"><%= @article.text %></p>

<p class="text-left"> <%= @article.user.username.present? ? @article.user.username : @article.user.email%></p>

<br>

<h2>Comments</h2>
<% @article.comments.each do |comment| %>
    <div class="table-responsive-sm">
        <table class="table table-sm">
            <tbody>
                <tr>  
                    <th scope="row">
                        <%= comment.user.username.present? ? comment.user.username : comment.user.email.split("@").first %>
                        <br>
                        <% if comment.user == current_user %>
                            <%= link_to 'Delete Comment', [:users, comment.article, comment],
                                method: :delete,
                                data: { confirm: 'Are you sure you want to permanently delete this comment?' },
                                class: "btn btn-default"
                            %>
                        <% end %>
                    </th>
                    <td>
                        <%= comment.body %>
                    </td>
            </tbody>
        </table>
    </div>
<% end %>

<% if current_user %>
    <h2>Add a comment:</h2>
    <%= form_for([:users, @user, @article, @article.comments.build ]) do |form| %>
        <div class="form-group">
            <%= form.text_area :body, rows: "5", class: "form-control" %>
        </div>

        <td><%= form.submit "Send", class: "btn btn-default" %></td>
    <% end %>
<% end %>


<%= link_to 'Back', root_path, class: "btn btn-default"%>