
<h1>Edit Article</h1>
 
<%= form_for([:users, @article]) do |form| %>
 
    <div class="form-group">
        <%= form.label :title, class: "control-label" %>
        <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= form.label :text, class: "control-label" %>
        <%= form.text_area :text, rows: "15", class: "form-control" %>
    </div>

    <div class="form-group">
        <%= form.label :banner, class: "control-label" %>
        <%= form.file_field :banner, class: "form-control-file" %>

        <% if @article.banner? %>
            <br>
            <%= image_tag @article.banner.url, class: "img-fluid", alt: "Responsive image" %>
            <%= form.check_box :remove_banner %>
                Remove Image
        <% end %>

    </div>

    <div class="form-group">
        <%= form.label :is_published, "Publish", class: "form-check-label" %>
        <%= form.check_box :is_published, class: "checkbox" %>
    </div>

    <tr>
        <td><%= form.submit "Save", class: "btn btn-default" %></td>
        <td><%= link_to 'Delete Article', users_article_path(@article),
            method: :delete,
            data: { confirm: 'Are you sure you want to permanently delete an article?' },
            class: "btn btn-default"%>
        </td>
    </tr>
<% end %>


<%= link_to 'Back', users_root_path_url, 
    data: {confirm: "Are you sure? All changes will be discarded."},
    class: "btn btn-default"%>